# LGE copyright 2015.

# thermal_monitor
service thermal_monitor /system/bin/thermal_logging
   class late_start
   user system
   group system
   disabled

#write params for LBFC
on property:sys.boot_completed=1
#store default values
   write /sys/devices/system/cpu/lbfc/en 1
   write /sys/devices/system/cpu/lbfc/intv 2000
#store band freq.
   write /sys/devices/system/cpu/lbfc/band_cluster "0 1248000 787200 384000 960000 1440000 600000"
   write /sys/devices/system/cpu/lbfc/band_cluster "1 1248000 633600 768000 960000 1824000 480000"
   write /sys/devices/system/cpu/lbfc/band_gpu     "2 600000000 450000000 300000000 180000000"
#store tunables
   write /sys/devices/system/cpu/lbfc/sys_tunables "70 150 150 10000 150 50 4 50 3000 60 2 1 0 960000"
#store default debug mask
   write /sys/module/lbfc/parameters/debug_mask 1
   chown system system /sys/devices/system/cpu/lbfc
   chown root system /sys/module/lbfc
   chown system system /sys/devices/system/cpu/lbfc/en
   chmod 664 /sys/devices/system/cpu/lbfc/en
   chmod 600 /sys/devices/system/cpu/lbfc/intv
   chmod 600 /sys/devices/system/cpu/lbfc/band_cluster
   chmod 600 /sys/devices/system/cpu/lbfc/band_gpu
   chmod 600 /sys/devices/system/cpu/lbfc/sys_tunables
   chown system system /sys/devices/system/cpu/lbfc/cur_policy
   chmod 664 /sys/devices/system/cpu/lbfc/cur_policy
   chown system system /sys/devices/system/cpu/lbfc/cm
   chmod 660 /sys/devices/system/cpu/lbfc/cm

on boot
# For QC2.0
   chown root system /sys/module/charger_controller/parameters/quick_charging_state
   chmod 0664 /sys/module/charger_controller/parameters/quick_charging_state
# Power_BSP, for charging mode on/off of Hidden menu
   chown system system /sys/class/power_supply/battery/charging_enabled
# Power_BSP, for charging mode on/off of Hidden menu
   chown system system /sys/class/power_supply/charger_controller/battery_charging_enabled
# POwer_BSP, for LLK mode on/off of PopupActivity
   chown system system /sys/class/power_supply/charger_controller/store_demo_enabled

on post-fs-data
#Power_BSP, thermal senario change about LCD brightness
   chown system system /sys/class/leds/lcd-backlight/thermald_status
   chmod 0644 /sys/class/leds/lcd-backlight/thermald_status

# Power_BSP, add battery fake mode property
on property:persist.service.fakebatt=0
   write /sys/class/power_supply/charger_controller/pseudo_batt "0 1 100 400 4100 80 1"
on property:persist.service.fakebatt=1
   write /sys/class/power_supply/charger_controller/pseudo_batt "1 1 100 400 4100 80 1"

# Power_BSP, add usb current max mode property
on property:persist.service.usbcurrentmax=1
	write /sys/class/power_supply/charger_controller/usb_current_max 1
on property:persist.service.usbcurrentmax=0
	write /sys/class/power_supply/charger_controller/usb_current_max 0

# Power_BSP, add hard reset property
on property:persist.lge.hardreset=1
   write /sys/module/msm_poweroff/parameters/hard_reset 1
on property:persist.lge.hardreset=0
   write /sys/module/msm_poweroff/parameters/hard_reset 0

# Power_BSP, add critical temp property for PM8992
on property:persist.service.criticaltemp=0
   write /sys/kernel/debug/spmi/spmi-0/address 0x00867
   write /sys/kernel/debug/spmi/spmi-0/data 0x80
   write /sys/kernel/debug/spmi/spmi-0/address 0x20867
   write /sys/kernel/debug/spmi/spmi-0/data 0x80
   write /sys/module/msm_thermal/parameters/reset_temp 0
   write /sys/devices/virtual/thermal/thermal_zone2/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone3/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone4/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone5/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone6/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone7/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone8/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone9/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone10/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone11/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone12/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone13/ctrl_crit_temp 0
   write /sys/devices/virtual/thermal/thermal_zone14/ctrl_crit_temp 0

on property:persist.service.criticaltemp=1
   write /sys/kernel/debug/spmi/spmi-0/address 0x00867
   write /sys/kernel/debug/spmi/spmi-0/data 0
   write /sys/kernel/debug/spmi/spmi-0/address 0x20867
   write /sys/kernel/debug/spmi/spmi-0/data 0
   write /sys/module/msm_thermal/parameters/reset_temp 170
   write /sys/devices/virtual/thermal/thermal_zone2/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone3/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone4/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone5/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone6/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone7/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone8/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone9/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone10/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone11/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone12/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone13/ctrl_crit_temp 1
   write /sys/devices/virtual/thermal/thermal_zone14/ctrl_crit_temp 1

service gbmonitor /system/bin/gbmonitor
   class main
   socket gbm-client stream 660 system system
   user system
   group system

on early-init
# Start Power_BSP DGPC
   chown system system /sys/class/graphics/fb0/mdp/vfps
   chmod 664 /sys/class/graphics/fb0/mdp/vfps
   chown system system /sys/class/graphics/fb0/mdp/vfps_fcnt
   chmod 664 /sys/class/graphics/fb0/mdp/vfps_fcnt
   chown system system /sys/class/graphics/fb0/mdp/vfps_ratio
   chmod 664 /sys/class/graphics/fb0/mdp/vfps_ratio
