on init
    exec u:r:setup_fs:s0 -- /sbin/setup_fs_static \
        /dev/block/bootdevice/by-name/cust \
        no_reboot
    mkdir /cust 0771 system system

on fs
    wait /dev/block/bootdevice/by-name/cust
    exec /system/bin/e2fsck -y /dev/block/bootdevice/by-name/cust
    mount ext4 /dev/block/bootdevice/by-name/cust /cust rw nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /cust
    mount ext4 /dev/block/bootdevice/by-name/cust /cust ro remount nosuid nodev barrier=1 noauto_da_alloc

# LGE IMS Features - To interwork with QMI WMS (64-bit exe/lib)
service imswmsproxy /system/bin/imswmsproxy
    class main
    user system
    group radio system net_admin net_raw

# For IPSec
service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw

# [LGU_OPERATOR_APP][I-WLAN]
service mwlan_vpncored /system/bin/mwlan_helper @vpncored
    user system
    group system inet
    disabled
    oneshot
# [LGU_OPERATOR_APP][I-WLAN]

# LGE_CHANGE_S, [LGE_DATA][LGP_DATA_TCPIP_NSRM]
on boot
    setprop lg.data.nsrm.policypath         /data/connectivity/nsrm/NsrmConfiguration.xml
    chmod 0644 /persist/init.cne.rc
    mkdir /data/connectivity 0775 system system
    mkdir /data/connectivity/nsrm 0775 system system
# LGE_CHANGE_S, [LGE_DATA][LGP_DATA_TCPIP_NSRM]

on post-fs-data
# LGE_CHANGE_S LGT_REQ  [hanchul.shin@lgepartner.com][2014-05-08][BEGIN]
    mkdir /data/data/com.ubivelox.wipiplayer/W 0777 system lgt_gid
    mkdir /data/LGTContents 0771 system lgt_gid
    mkdir /data/LGTContents/app 0771 system lgt_gid
    mkdir /data/LGTContents/video 0771 system lgt_gid
    mkdir /data/LGTContents/music 0771 system lgt_gid
    mkdir /data/LGTContents/bell 0771 system lgt_gid
    mkdir /data/LGTContents/DLtmp 0771 system lgt_gid
    mkdir /data/LGTContents/ringforme 0771 system lgt_gid
    chmod 771 /system/persist
    chmod 665 /system/persist/LGUPlus_Api.xml
    chmod 0644 /system/lib/modules/mwlan_aarp.ko

# [hanchul.shin@lgepartner.com][2014-05-08] add LGTConents
    chown system lgt_gid /data/data/com.ubivelox.wipiplayer/W
    chown system lgt_gid /data/LGTContents
    chown system lgt_gid /data/LGTContents/video
    chown system lgt_gid /data/LGTContents/music
    chown system lgt_gid /data/LGTContents/bell
    chown system lgt_gid /data/LGTContents/app
    chown system lgt_gid /data/LGTContents/DLtmp
    chown system lgt_gid /data/LGTContents/ringforme
# LGE_CHANGE_E LGT_REQ  [hanchul.shin@lgepartner.com][2014-05-08][END]
    restorecon_recursive /data/LGTContents

on post-fs
    chmod 0644 /system/lib/modules/mwlan_aarp.ko
    insmod /system/lib/modules/mwlan_aarp.ko
    chmod 0644 /system/lib/modules/ipsecdrvtl.ko

on post-fs-data
# NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

# create callduration file
on property:ro.lge.callduration=1
   mkdir /persist-lg/callduration 0770 system radio
   chown system radio /persist-lg/callduration
   chmod 0770 /persist-lg/callduration

# LGE_CHANGE_S, [U+ DRM], lg-drm@lge.com
    mkdir /data/ep 0771 system system
    mkdir /data/ep/Music 0777 system system
    restorecon_recursive /data/ep/Music
# LGE_CHANGE_E, [U+ DRM]
#[START][ePDG][changhwan.lee] set ePDG property
on init
	setprop persist.cne.feature 1
#[END][ePDG][changhwan.lee] set ePDG property
