# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.${ro.hardware}_product.rc

# modem logging (LGODM)
import /init.lge.modem_log.rc

# import init script for zram, which is a subset of project Svelte.
import /init.lge.svelte.rc

# pss logger
import /init.lge.pss.rc

#[P1_BRINGUP_S]
import /init.alphap.bt_vendor.rc
#[P1_BRINGUP_E]
# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [START]
service diagd /system/bin/diagd
    class late_start
    user root
    group radio system
    disabled
    oneshot
    socket lsock_diagd stream 666

on property:wifi_ftm.diagd_start=1
    start diagd

on property:wifi_ftm.diagd_start=0
    stop diagd
# 2012.08.24 real-wifi@lge.com[wo0gi] TestMode Daemon for broadcom driver [END]

#[START][LGE_WIFI][CT][hayun.kim@lge.com] : [SPEC] PPPOE Feature
service pppoe_extd /system/bin/pppoe_extd
    user root
    group system radio
    disabled
    oneshot

service dhcp6cDNS_wlan0 /system/bin/dhcp6c -c "/etc/wide-dhcpv6/dhcp6cDNS.conf" -Df wlan0
    disabled
    oneshot

service dhcp6c_wlan0 /system/bin/dhcp6c -c "/etc/wide-dhcpv6/dhcp6c.conf" -Df wlan0
    disabled
    oneshot
#[END][LGE_WIFI][CT][hayun.kim@lge.com] : [SPEC] PPPOE Feature

#[START][LGE_WIFI][COMMON]: TO read WIFI MAC from LGFTM(MISC - block device)
service wififtmd /system/bin/wififtmd
    user root
    group radio system
    disabled
    oneshot

on property:wifi_ftm.wififtmd_start=1
    start wififtmd

on property:wifi_ftm.wififtmd_start=0
    stop wififtmd
#[END][LGE_WIFI][COMMON]: TO read WIFI MAC from LGFTM(MISC - block device)

on boot
    write /sys/module/lowmemorykiller/parameters/lmk_fast_run 0

# START touch_driver
	chown system system /sys/devices/virtual/input/lge_touch/incoming_call
	chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
	chown system system /sys/devices/virtual/input/lge_touch/ime_status
	chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
	chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
	chown system system /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
	chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
	chown system system /sys/devices/virtual/input/lge_touch/ts_noise
	chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise
	chown system system /sys/devices/virtual/input/lge_touch/sensing_test
	chmod 664 /sys/devices/virtual/input/lge_touch/sensing_test
	chown system system /sys/devices/virtual/input/lge_touch/hidden_normal_cal_state
	chmod 664 /sys/devices/virtual/input/lge_touch/hidden_normal_cal_state
	chown system system /sys/devices/virtual/input/lge_touch/hidden_lpwg_cal_state
	chmod 664 /sys/devices/virtual/input/lge_touch/hidden_lpwg_cal_state
# END touch_driver

# START touch_knock_on
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
	chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_test_info
	chmod 644 /sys/devices/virtual/input/lge_touch/lpwg_test_info
	chown system system /sys/devices/virtual/input/lge_touch/lpwg_test_ctrl
	chmod 644 /sys/devices/virtual/input/lge_touch/lpwg_test_ctrl
	chown system system /sys/devices/virtual/input/lge_touch/touch_wake_up_test
	chmod 664 /sys/devices/virtual/input/lge_touch/touch_wake_up_test
	chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
	chmod 664 /sys/devices/virtual/input/lge_touch/quick_cover_status
# END touch_knock_on

    chown media media /sys/devices/soc.0/qcom,msm-pcm-routing.39/cfg_string_rx
    chown media media /sys/devices/soc.0/qcom,msm-pcm-routing.39/cfg_string_tx
    chmod 644 /sys/devices/soc.0/qcom,msm-pcm-routing.39/cfg_string_rx
    chmod 644 /sys/devices/soc.0/qcom,msm-pcm-routing.39/cfg_string_tx

# Begin LG Volume vibrator
    chown system system /sys/class/timed_output/vibrator/amp
    chmod 664 /sys/class/timed_output/vibrator/amp
# End LG Volume vibrator

# Begin SRE Display New Feature
    chown system system /sys/class/sre/sre_func/sre_status
    chmod 644 /sys/class/sre/sre_func/sre_status
# End SRE Display New Feature

# Begin Retail Mode Display Feature
    chown system system /sys/devices/virtual/blmap_adjust/bl_store_mode/enable
    chmod 644 /sys/devices/virtual/blmap_adjust/bl_store_mode/enable
# End Retail Mode Display Feature

#Broadcast Service [hyun118.shin@lge.com]
service broadcast /system/bin/libbroadcast_server
    class main
    user media
    group system audio media graphics sdcard_rw
    socket dmb_socket stream 0660 media media

on property:init.svc.media=restarting
    restart broadcast

# LGP_DATA_PERFORMANCE_HELPING_CODE, y01.jeong@lge.com
    write /proc/sys/net/ipv4/tcp_adv_win_scale 1
# LGP_DATA_PERFORMANCE_HELPING_CODE, y01.jeong@lge.com


# Enable slimport cbl isr after boot completion.
on property:init.svc.bootanim=stopped
    write /sys/class/i2c-dev/i2c-5/device/5-0072/enable_irq 1

on post-fs
# enable exfat feature
	insmod /system/lib/modules/texfat.ko

#SDCard Encrypt.
on init
    setprop ro.ssbd.session /dev/block/bootdevice/by-name/eksst
    setprop ro.ssbd.offset 0

# Display_BSP, add xlog_panic property
on property:debug.xlog.panic.enable=0
	write /d/mdp/xlog/panic 0
on property:debug.xlog.panic.enable=1
	write /d/mdp/xlog/panic 1

# Display_BSP, add xlog_reg_dump property
on property:debug.xlog.reg_dump.enable=0
    write /d/mdp/xlog/reg_dump_enable 0
on property:debug.xlog.reg_dump.enable=1
    write /d/mdp/xlog/reg_dump_enable 1

# Display_BSP, add xlog_default property
on property:debug.xlog.default.enable=0
	write /d/mdp/xlog/enable 0
on property:debug.xlog.panic.enable=1
	write /d/mdp/xlog/enable 1

# Touch_BSP, add call_state property
on property:ril.lge.touch.callstate=0
	write /sys/devices/virtual/input/lge_touch/incoming_call 0
on property:ril.lge.touch.callstate=1
	write /sys/devices/virtual/input/lge_touch/incoming_call 1
on property:ril.lge.touch.callstate=2
	write /sys/devices/virtual/input/lge_touch/incoming_call 2

